:root {
  --nav-color: #2196f3;
  --footer-color: #ffffff;
  --grey-color: #757575;
  --black-icon-color: #212121;
}
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #212121;
}
li {
  list-style-type: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
}
/*ПАНЕЛЬ НАВІГАЦІЇ*/
.conteiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
}
.logo-web {
  color: var(--nav-color);
}
.logo-menu-link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #757575;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-menu-link::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transform: scaleX(0);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-menu-link:hover,
.logo-menu-link:focus {
  color: var(--nav-color);
}
.logo-menu-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.logo-menu,
.logo-menu-contact {
  display: flex;
  padding: 0;
  margin: auto;
}
.logo-menu li:not(:first-child) {
  margin-left: 50px;
}
.logo-menu-contact li:not(:first-child) {
  margin-left: 30px;
}
.logo-menu-contact-icon {
  width: 16px;
  height: 11px;
  fill: var(--grey-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-menu-contact-conteiner:hover .logo-menu-contact-icon {
  fill: var(--nav-color);
}
.logo-menu-contact-conteiner:hover .logo-menu-contact-data {
  color: var(--nav-color);
}

/*Футер*/
.footer {
  background: #2f303a;
  width: 100%;
  color: var(--footer-color);
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-conteiner {
  padding-bottom: 60px;
  border: 1px solid #757575;
}
.conteiner-footer-adress {
  margin-top: 45px;
}
.footer-logo {
  font-size: 22px;
  line-height: 26px;
  color: var(--footer-color);
  margin-bottom: 8px;
}
.adressa {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.adressa a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 97px;
}
.footer-social-list {
  display: flex;
}
.footer-social-icon {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 100%;
  fill: var(--footer-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social li:not(:first-child) {
  margin-left: 10px;
}
.footer-social-icon:hover {
  background-color: #2196f3;
}
.footer p {
  margin-bottom: 20px;
}
.footer-form,
.footer-social {
  margin-top: 50px;
}
.footer-form {
  margin-left: 97px;
  display: inline-flex;
  width: 570px;
}
.mail-bottom {
  padding-left: 28px;
  padding-right: 28px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--footer-color);
  display: inline-flex;
  margin-top: auto;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-bottom:hover {
  cursor: pointer;
}
.mail-bottom::after {
  width: 24px;
  height: 24px;
  content: ' ';
  margin-left: 10px;
  background-image: url(../images/icon/icon-send.svg);
  background-size: contain;
  background-position: center;
}
.mail-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  padding-left: 15px;
  margin-top: 20px;
  color: var(--footer-color);
}

/*ОСНОВНА ЧАСТИНА ПОРТФОЛІО*/
.main-conteiner-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/*ПАНЕЛЬ*/
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 93px;
}
.panel li:not(:first-child) {
  margin-left: 8px;
}
.panel li {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: solid 1px black;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.panel li a {
  display: block;
  height: 38px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.panel-button-1 {
  width: 73px;
}
.panel-button-2 {
  width: 128px;
}
.panel-button-3 {
  width: 145px;
}
.panel-button-4 {
  width: 103px;
}
.panel-button-5 {
  width: 130px;
}
.panel li a:hover,
.panel li:hover {
  background-color: #2196f3;
  color: var(--footer-color);
  cursor: pointer;
}
.conteiner-portfolio {
  max-width: 1200px;
  margin: 0 auto;
}
/*Проекти Портфоліо*/
.project {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 94px;
  flex-wrap: wrap;
}
.project li {
  max-width: calc((100% * 1 / 3) - 20px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
  max-height: 404px;
}
.project li:nth-child(3n) {
  margin-right: 0px;
}
.project li:nth-child(n + 4) {
  margin-top: 30px;
}
.project h3 {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.project-option {
  line-height: 30px;
  font-size: 16px;
  color: var(--grey-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
.project-text {
  display: inline-block;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project li:hover .project-text {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--footer-color);
  transform: translateY(0%);
  opacity: 1;
}
.project li:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-conteiner {
  position: relative;
}
/*Основний index*/
/*Банер*/
.baner {
  height: 660px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/Header.jpg);
  padding-top: 200px;
  background-size: cover;
  background-position: center;
}
.baner-text {
  width: 646px;
  height: 104px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
.bottom-baaner-conteiner {
  display: flex;
  align-self: center;
  justify-content: center;
}
.baner-bottom {
  width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--footer-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/*Переваги*/
.our-goods {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
}
.our-goods li {
  width: 270px;
  height: 251px;
}
.our-goods li:not(:first-child) {
  margin-left: 30px;
}
.our-goods-images {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-goods-images-1 {
  background-image: url(../images/icon/antenna-1.svg);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-goods-images-2 {
  background-image: url(../images/icon/clock-1.svg);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-goods-images-3 {
  background-image: url(../images/icon/diagram-1.svg);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-goods-images-4 {
  background-image: url(../images/icon/astronaut-1.svg);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-goods-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.our-goods-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-top: 10px;
}
/*Чим ми займаємось*/
.what-we-do {
  margin-top: 94px;
  margin-bottom: 94px;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.we-do {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.we-do li {
  width: 370px;
  max-height: 294px;
  position: relative;
  display: block;
}
.we-do li:not(:first-child) {
  margin-left: 30px;
}
.we-do-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
.we-do-container {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}
.we-do li p {
  text-align: center;
  padding-top: 27px;
}
.we-do img {
  display: block;
}
/*НАша команда*/
.team {
  background: #f5f4fa;
  padding: 94px;
}
.team-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.team-card > li {
  width: 270px;
  /*height: 422px;*/
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-card li:not(:first-child) {
  margin-left: 10px;
}
.team-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-bottom: 16px;
}
.team-card-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.team-card-social svg {
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-social svg:hover {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}
.team-card-social li a:not(:first-child) {
  margin-left: 10px;
}
/*наші партнери*/
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.partner li {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partner li:not(:first-child) {
  margin-left: 30px;
}
.partner-icon {
  width: 170px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.partner-icon svg {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-icon-1 {
  width: 44px;
  height: 49px;
}
.partner-icon-2 {
  width: 40px;
  height: 52px;
}
.partner-icon-3 {
  width: 41px;
  height: 43px;
}
.partner-icon-4 {
  width: 80px;
  height: 42px;
}
.partner-icon-5 {
  width: 59px;
  height: 47px;
}
.partner-icon-6 {
  width: 88px;
  height: 45px;
}
.partner li:hover {
  border: 1px solid #2196f3;
}
.partner li:hover .partner-icon svg {
  fill: #2196f3;
}
/* модалка*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
}
.form-input-text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  padding-left: 40px;
}
.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  margin-top: 30px;
}
.form-buttom {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background;
}
.form-container {
  position: relative;
  margin-top: 30px;
}
.form-icon {
  fill: var(--black-icon-color);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%) translateX(16px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
}
.form-close-button {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) translateX(43px);
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;
}
.form-container:focus-within .form-icon,
.form-container:focus-within .form-label {
  fill: var(--nav-color);
  color: var(--nav-color);
}
.form-input-text:not(:placeholder-shown) + .form-label,
.form-container:focus-within .form-label {
  transform: translateY(-40px) translateX(15px);
}
.form-close-button:hover {
  cursor: pointer;
  color: var(--nav-color);
  border-color: var(--nav-color);
}
.form-checkbox {
  display: inline-flex;
  justify-content: center;
  margin-top: 20px;
}
.form-checkbox a {
  text-decoration-line: underline;
  text-decoration-color: var(--nav-color);
  color: var(--nav-color);
}
.checkbox-field,
.checkbox-label {
  display: inline-flex;
  align-items: center;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox ~ .checkbox-label:before {
  content: '  ';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 8px;
}
.checkbox:checked ~ .checkbox-label:before {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url(../images/icon/gal.svg);
  background-size: contain;
  background-position: center;
}
.form-container-buttom {
  display: inline-flex;
  justify-content: center;
  margin-top: 30px;
}
.form-buttom:hover,
.form-buttom:focus {
  background: #188ce8;
}
